<p id="notice"><%= notice %></p>

<h1><%= t('.title_html') %></h1>


<% cache @products do %>
    <% @products.each do |product| %>
        <% cache product do %>
            
          
                           
                             
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="entry">
           
              <%= image_tag(product.image_url) %>
            <br><br><br>
      <div class="caption">
         <h3><%= product.title %></h3>
          <br><br>
        <div class="well">

                             <%= sanitize(product.description, ) %> 
        </div>
        
                       
              <div class="price_line">
                <span class="price"><%= number_to_currency(product.price) %></span>
                <%= button_to t('.add_html'),
                              line_items_path(product_id: product, locale: I18n.locale),
                              remote: true, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
              </div>
         
               
        <% end %>
    <% end %>
<% end %>
