<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Tema opcional -->  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- JavaScript -->  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>  

    
  </head>
  <body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= form_tag store_index_path, class: 'locale' do %>
        <%= select_tag 'set_locale',
                       options_for_select(LANGUAGES, I18n.locale.to_s),
                       onchange: 'this.form.submit()' %>
        <%= submit_tag 'submit' %>
        <%= javascript_tag "$('.locale input').hide()" %>
    <% end %>
    <%= image_tag 'logo1.JPG', alt: 'The Pragmatic Bookshelf', class: 'img-responsive'%>
    <span class="title"><%= @page_title %></span>
  </div>
  <div id="columns">
    <div id="side">
      <div id="cart">
        <% if @cart %>
            <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
        <%= render @cart %>
            <% end %>
            <% end %>
        
      </div>
      <%= render Order.find(session[:order_id]) if session[:order_id] -%>

      <ul class="list-group" >
        <li class="list-group-item"><a href="http://www.gandhi.com.mx/ "><%= t('.home') %></a></li>
        <li class="list-group-item"><a href="http://www.gandhi.com.mx/promociones"><%= t('.questions') %></a></li>
        <li class="list-group-item"><a href="https://www.gandhi.com.mx/giftmessage"><%= t('.news') %></a></li>
        <li class="list-group-item"><a href="https://www.gandhi.com.mx/sucursales"><%= t('.contact') %></a></li>      </ul>
      <% if session[:user_id] %>
          <ul class="list-group">
            <li class="list-group-item"><%= link_to 'Orders',   orders_path   %></li>
            <li class="list-group-item"><%= link_to 'Products', products_path %></li>
            <li class="list-group-item"><%= link_to 'Users',    users_path    %></li>
          </ul>
          <%= button_to 'Logout', logout_path, method: :delete, class: 'btn btn-success'  %>
      <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
  </body>
</html>